@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SideNavPages.cshtml";
}

<h2 class="page-header">@Umbraco.Field("title")</h2>
@CurrentPage.GetGridHtml("bodyText", "lgsk-nested-bootstrap")
