@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteDesign.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">@Umbraco.Field("title")</h1>
        @CurrentPage.GetGridHtml("bodyText", "lgsk-nested-bootstrap")
    </div>
</div>

@Html.Partial("Nav/GatewayLinks", Model,
            new ViewDataDictionary()
            {
                {"mainCount", @Umbraco.Field("mainItemCount", altText: "6")},
                {"mainName", ""}
            }
)