@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SideNavPages.cshtml";
}

<h2 class="page-header">@Umbraco.Field("title")</h2>
@Umbraco.Field("bodyText")

@Html.Partial("Nav/ItemListing")

@section FullSideNav {
    <!-- full side nav - overrides parent sidenav.-->
    @Html.Partial("Nav/LatestItems")
}