@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteDesign.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <h2 class="page-header">@Umbraco.Field("title")</h2>
        @CurrentPage.GetGridHtml("bodyText", "lgsk-nested-bootstrap")


        @Html.Partial("Components/OpeningTimes")
    </div>
    <div class="col-sm-6">
        @Html.Partial("Components/VenueMap")
    </div>
</div>