@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Design.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h2>@Umbraco.Field("title")</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @CurrentPage.GetGridHtml("content", "lgsk-nested-bootstrap")

        @Html.Partial("Components/OpeningTimes")
    </div>
    <div class="col-sm-6">
        @Html.Partial("Components/LocationMap")
    </div>
</div>