body.mce-content-body {
	font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
	font-size: 12pt;
	padding: 5px;
}


/**umb_name:Button Info*/
.btn btn-info {}

/**umb_name:Heading*/
fred fred fredfredfred{}