body.mce-content-body {
	font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
	font-size: 12pt;
	padding: 5px;
}/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {

}

h3 {

}

.btn btn-lg btn-primary {

}

.alert alert-info {

}

.alert alert-warning {

}

.alert alert-danger {

}

h4 {

}

