/*

    Core Colours:
    ---------------
    Base:   #E64A19
    Dark:   #BF360C
    Light:  #FF5722

    Alternate:
    ---------------
    Base:   #1976D2
    Dark:   #0D47A1
    Light:  #64B5F6

    Text Colours:
    ---------------
    Normal:     #000;
    Dark-Mid:   #555;
    
    Light:      #fff;
    Light-Mid:  #ccc;
*/


