<div ng-controller="jumoo.propEditor.styledTextController" class="jumoo-styledText-editor">
    <div class="simple-label" ng-show="{{model.hideLabel}}">{{model.label}}</div>

    <input ng-show="model.config.multiLine != 1" ng-model="model.value" ng-change="checkCharLimit()" type="text"
           class="umb-editor umb-textstring textstring simple-styledText"
           style="{{model.config.style}}"
           ng-class="{'simple-full' : model.hideLabel}"
           placeholder="{{model.config.placeholder}}" />

    <textarea ng-show="model.config.multiLine == 1" ng-model="model.value" ng-change="checkCharLimit()"
           class="umb-editor umb-textarea textstring simple-styledText"
           style="{{model.config.style}}"
           ng-class="{'simple-full' : model.hideLabel}"
           placeholder="{{model.config.placeholder}}"></textarea>

    <div ng-bind="info" ng-class="getClass()" ng-show="limit > 0" class="char-warning umb-editor"></div>


</div>