@inherits Umbraco.Web.Macros.PartialViewMacroPage
@*
     a mock up of a bin widget - this is only a starter kit,
    and no one will release their bin data as open data so what can we do ?
*@
<div class="row">
    <div class="col-sm-7">
        <ul class="bin-list">
            <li>Rubbish: <span class="label label-primary">Tuesday</span></li>
            <li>Recycling: <span class="label label-success">Next Week</span></li>
            <li>Garden: <span class="label label-warning">Wednesday</span></li>
        </ul>
    </div>
    <div class="col-sm-5">
        <strong>Collections For:</strong>
        <address>
            Your Address,<br />
            Your Street,<br />
            Your Postcode.<br />
        </address>
    </div>
</div>
