@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@* just writes out the letters atoz *@

@{ 
    var atozPage = Umbraco.TypedContentAtXPath("//atoZ").FirstOrDefault();
    if (atozPage == null)
    {
        return;
    }

    var activeLetter = ' ';
    var queryLetter = Request.QueryString["letter"];
    if (!string.IsNullOrWhiteSpace(queryLetter))
    {
        activeLetter = queryLetter[0];
    }
}
<div class="atoz-block">
    <ul class="list-inline list-atoz">
        @for (char letter='A'; letter <= 'Z'; letter++)
        {
            <li class="@Umbraco.If(letter == activeLetter, "active")">
                <a href="@atozPage.Url?letter=@letter">@letter</a>
            </li>
        }
    </ul>
</div>