@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Jumoo.LocalGov;
@{
    var letterQs = Request.QueryString["letter"];
    if (!string.IsNullOrWhiteSpace(letterQs))
    {
        var letter = letterQs.Substring(0,1);
        <h2 class="page-header">@letter</h2>
    
        var entries = Umbraco.GetAtoZEntries(letter);
        
        if (entries.Any())
        {
            <ul class="atoz-entries">
                @foreach(var entry in entries)
                {
                    <li>
                        <a href="@entry.Value.Url">@entry.Key</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-warning">No entries</div>
        }
    }
    
}
