@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq

@if (Model.Content.GetPropertyValue<string>("footerLinks", true, "").Length > 2)
{
    var footerLinks = Model.Content.GetPropertyValue<JArray>("footerLinks", true);

    if (footerLinks != null)
    {
        <ul class="footer-links list-inline">
            @foreach (var item in footerLinks)
            {
                var linkUrl = (item.Value<bool>("isInternal")) ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.Value<string>("link");
                var linkTarget = item.Value<bool>("newWindow") ? "_blank" : null;

                <li><a href="@linkUrl" target="@linkTarget">@(item.Value<string>("caption"))</a></li>
            }
        </ul>
    }
}

