@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<h2 class="page-header">Events</h2>

@{
    var item = Model.Content.Descendants()
        .Where(x => x.DocumentTypeAlias == "Event" && x.IsVisible())
        .OrderBy(x => x.GetPropertyValue<DateTime>("endDate", x.CreateDate))
        .FirstOrDefault();
}

@if (item != null)
{
    <div class="row">
        <div class="event-item">
            <div class="col-sm-12">
                <div class="news-item thumbnail">
                    <img src="@item.GetCropUrl("featuredImage", "Homepage")" />
                    <div class="caption">
                        <h3>
                            <a href="@item.Url">
                                @item.GetPropertyValue("title")
                            </a>
                        </h3>

                        <div class="news-item-body">
                            @item.GetPropertyValue("pageSummary")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-calendar"></span>
                Events have taken a turn for the worst, or there just
                arn't any right now.
            </div>
        </div>
    </div>
}