@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@* writes out the letters (and links)*@

@{
    
    var atozPage = Umbraco.TypedContentAtXPath("//Atoz").FirstOrDefault();
    if (atozPage == null)
    { 
        return;
    }
}

<div class="atoz-block">
    <ul class="list-inline list-atoz">
        @for(char letter='A'; letter < 'Z'; letter++)
        {
            <li>
                <a href="@atozPage.Url?letter=@letter">@letter</a>
            </li>
        }
    </ul>
</div>
