@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@* displays the cookie notice (once ever n days )*@
@{
    var cookieName = "cookie.notice";
    var cookieDays = 90;
}

@{
    var notice = Request.Cookies.Get(cookieName);
    if (notice == null)
    {
        <div class="cookie-notice">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Raw(
                            Umbraco.GetDictionaryValue("Cookie.Notice")
                            )
                    </div>
                </div>
            </div>
        </div>
    
    
        Response.SetCookie(new HttpCookie(cookieName, "done")
        {
            Expires = DateTime.Now.AddDays(cookieDays)
        });
     
    }
}


