@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<h2 class="page-header">News</h2>
@{
    
    // not the best news macro, this one - just gets the latest three
    // news items from across the entire site, you might 
    //
    // 1. have a news picker node, so  you don't look across the whole site
    // 2. use examine so it's quicker than looking for all your content
    // 3. cache the partial view, so it isn't called all the time.
    //

    var selection = Model.Content.Descendants()
        .Where(x => x.DocumentTypeAlias == "NewsItem" && x.IsVisible())
        .OrderBy(x => x.GetPropertyValue<DateTime>("endDate", x.CreateDate));
}

@if (selection.Any())
{
    <div class="row">
        <div class="news-list">
            @foreach (var item in selection.Take(2))
            {
                <div class="col-sm-6">
                    <div class="news-item thumbnail">
                        <img src="@item.GetCropUrl("featuredImage", "Homepage")" />
                        <div class="caption">
                            <h3>
                                <a href="@item.Url">
                                    @item.GetPropertyValue("title")
                                </a>
                            </h3>

                            <div class="news-item-body">
                                @item.GetPropertyValue("pageSummary")
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else {
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-heart-empty"></span>
                No news is good news, but you could always add some
            </div>
        </div>
    </div>
}