@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@* simple view - just works out what date-time we should be shwowing.*@
@{
    
    if ( Model.Content.HasProperty("startDate") )
    {
        var startDate = Model.Content.GetPropertyValue<DateTime>("startDate", Model.Content.CreateDate);
        var endDate = Model.Content.GetPropertyValue<DateTime>("endDate", DateTime.MinValue);

        @DisplayDateRange(startDate, endDate, Model.Content.DocumentTypeAlias != "newsItem") @* we don't display the time if it's news*@
    }


}

@helper DisplayDateRange(DateTime startDate, DateTime endDate, bool showTime = true, bool showEnd = true)
{
    var dayFormat = "dddd d MMMM";
    var hourFormat = "h:mm tt";
        
    // does a from - to thing.
    var dateDisplayString = "";

    if (startDate != DateTime.MinValue)
    {
        dateDisplayString = startDate.ToString(dayFormat);

        if (showEnd && endDate != DateTime.MinValue)
        {
            if (startDate.ToString("ddMMyyyy") != endDate.ToString("ddMMyyyy"))
            {
                // not the same day.
                dateDisplayString += " to " + endDate.ToString(dayFormat);
            }
            else if (showTime && startDate.ToString("hhmm") != "0000")
            {
                // we also have a time
                dateDisplayString += " (" + startDate.ToString(hourFormat);

                if (endDate.ToString("hhmm") != startDate.ToString("hhmm"))
                {
                    // end date has time and is different
                    dateDisplayString += " - " + endDate.ToString(hourFormat);
                }
            }
        }
        else
        {
            // no end date, just a start one...
            if (showTime && startDate.ToString("hhmm") != "0000")
            {
                dateDisplayString += " (" + startDate.ToString(hourFormat);
            }
        }

        // end if there was a time, we need to wrap the final ) in the string
        if (showTime && startDate.ToString("hhmm") != "0000")
        {
            dateDisplayString += ")";
        }
    }

    <span class="listing-date">@dateDisplayString</span>
}