<?xml version="1.0" encoding="utf-8"?>
<Open311Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- where Open311 will surface on site takes the form /{ApiRootUrl}/Inquiry/{id} -->
  <ApiRootUrl>Open311Api</ApiRootUrl>
  
  <!-- use the ESD Service Id as the primary ID for the item -->
  <useEsdAsId>true</useEsdAsId>

  <!-- internal cache name in umbraco, you should never need to change this -->
  <CacheName>Open311Inquiry</CacheName>
  
  <!-- 
	mapping the names in the service description to umbraco fields 
    the defaults are set to match the LocalGovStarterKit Fields 
  -->
  <Fields>
    <EsdId>esdServiceId</EsdId>
    <Title>title</Title>
    <Summary>pageSummary</Summary>
    <Description>bodyText</Description>
    <Expiry>Expiration</Expiry>
  </Fields>
</Open311Settings>