.homepage-header {
    margin-top: -40px;
    padding-top: 50px;
    background-color: #388E3C; /* green 900 */
    margin-bottom: 1em;
    color: #fafafa;
}

.homepage-header h1 {
    font-size: 2.4em;
}

.homepage-header a {
    color: #fafafa;
    font-weight: 400;
}

.homepage-highlights {
    background-color: #212121;
    color: #FAFAFA;
    margin-bottom: 1.5em;
    opacity: 0.95;
}

.homepage-highlights h2 {
    border-bottom: 3px solid #2e7d32;
    padding: 0.4em 0.6em;
    margin-bottom: 0;
}

.homepage-highlights ul {
    list-style: none;
    padding: 0.5em 1em;
}

.homepage-highlights ul li {
    padding: 0.2em 0;
}

.homepage-highlights a {
    color: #FAFAFA;
}

.news-item.thumbnail {
    border: none;
    background-color: transparent;
}

.personalized-content
{
    margin-top: -1em;
    margin-bottom: 1em;
    padding: 1em 0;
    background-color: #C8E6C9;
}

.personalized-block{
    background-color: #E8F5E9;
}

.personalized-block h3 {
    margin: 0;
    padding: 0.2em;
    background-color: #2e7d32;
}

.personalized-block h3 a {
    color: #f1f1f1;
}

.personalized-block h3 small {
    color: #eee;
}

.bin-list {
    padding: 0.4em;
    list-style: none;
}

.bin-list li {
    padding: 0.2em;
}