.atoz {
    background-color: #808080;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: -1.5em; 
    /* the footer has this margin, by doing this you can remove the a-z and still
        keep the spacing */
}

.atoz-block {
    text-align: center;
}

.list-atoz {
    margin-bottom: 0;
}


.list-atoz li a {
    width: 15px;
    display: inline-block;
    color: #fff;
}

