@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{


    if (Model.Content.HasValue("contact"))
    {
        var contactItemId = Model.Content.GetPropertyValue<int>("contact");
        if (contactItemId > 0)
        {
            var contactItem = Umbraco.TypedContent(contactItemId);

            if (contactItem != null)
            {
                <div class="section-nav">
                    <h2 class="page-header">Contact Details</h2>
                    <ul class="nav nav-stacked nav-pills">

                        @if (contactItem.HasValue("telephoneNumber"))
                        {
                            <li>
                                <a href="@contactItem.Url#telephone">
                                    <span class="glyphicon glyphicon-phone-alt"></span> Telephone</a>
                            </li>
                        }

                        @if (contactItem.HasValue("emailAddress"))
                        {
                            <li>
                                <a href="@contactItem.Url#email">
                                    <span class="glyphicon glyphicon-asterisk"></span> Email</a>
                            </li>
                        }

                        @if (contactItem.HasValue("address"))
                        {
                            <li>
                                <a href="@contactItem.Url#address">
                                    <span class="glyphicon glyphicon-envelope"></span> Address</a>
                            </li>
                        }
                    </ul>
                </div>

            }
        }
    }

}